body{
   background-image: url(backgro.png); 
   background-size: cover;
   background-repeat: no-repeat;
   font-family: Arial, sans-serif;
}
ul{
    list-style-type: none;
    background-color: #3F3F3F;
    width: 100%;
    margin-bottom: 30px;
}
ul li{
    display: inline-block;
    width: 100px;
    padding: 15px;
    margin-right: 20px;
    margin-left: -30px;
}
ul li:hover{
    background-color: red;
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-family: Arial, sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 1rem 0;
}

nav a {
    text-decoration: none;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    background-color: #fff;
}

h1 {
    margin-bottom: 1rem;
}

button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
header {
        background-color: #333;
        padding: 15px;
        text-align: center;
        color: white;
    }
ss{
    font-style: italic;
}